.title {
    color: aqua;
}

ul{
    color:#234;
}


div h1{
    text-align:center;
    color:green;
    font-size:40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flores{
      margin-left:7rem;
      display:grid;
      grid-template-columns:repeat(3, 300px);
      gap:3px;
}

.flor{
    max-width:90%;
    width:280px;
    height:280px;
}

table{
    border-collapse:collapse;
  max-width:100%;
}

table th, td{
    border:solid 1px black;
    padding:4px;
}
th{
    font-size:20px;
}

tr:hover{
      background-color:chocolate;
}
 
tr:nth-child(odd){
         background-color:cadetblue;
}