.title {
    color: aqua;
}

ul{
    color:#234;
}


div h1{
    text-align:center;
    color:green;
    font-size:40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flores{
      margin-left:7rem;
      display:grid;
      grid-template-columns:repeat(3, 300px);
      gap:20px;
       
}

.flor{
    height:280px;
    
}

.flor img {
   
    width:100%;
    height:100%;
    display:block;
    overflow:hidden;
    object-fit:cover;
    
}

.btn {
    text-decoration:none;
    margin-top:2px;
    display:block;
    text-align:center;

}


table{
    border-collapse:collapse;
  max-width:100%;
  margin:auto;

  margin-top:29px;
}

table th, td{
    border:solid 1px black;
    padding:20px;
}
th{
    font-size:20px;
}

tr:hover{
      background-color:chocolate;
}
 
tr:nth-child(odd){
         background-color:cadetblue;
}